.mainM {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  flex: 5%;
  flex-wrap: wrap;
}

@media only screen and (max-width: 545px) {
  .mainHeader {
    margin: 0px 0px;
  }
}
@media only screen and (min-width: 545px) {
  .mainHeader {
    margin: 0px 40px;
  }
}

.mainContent {
  flex: 95%;
  border-top: 3px solid gray;
  overflow-y: scroll;
}
.mainContent::-webkit-scrollbar {
  display: none;
}
.headerLeft {
  display: flex;
  align-items: center;
}
.menuButton {
  height: var(--mq-ht);
  width: var(--mq-wd);
  color: var(--wh-btn-clr);
  margin-right: 10px;
}
.menuButton:active {
  color: var(--btn-hvr);
}
.menuButton:hover {
  color: var(--btn-hvr);
}
.headerLeft > p {
  font-family: Inter;
  font-weight: 600;
  border-bottom: 2px solid #3772ff;
  color: var(--wh-txt-clr);
  margin: 0;
  font-size: var(--mq-fs);
  line-height: 2;
}
.headerRight {
  display: flex;
  align-items: center;
  background-color: rgb(44, 44, 44);
  border-radius: 10px;
}
.tier {
  border-radius: 5px;
  color: #3772ff;
  background-color: #a3e3ff;
  text-align: center;
}
.headerRight > p {
  font-family: Poppins;
  font-weight: 600;
  margin: 0;
  font-size: 0.9rem;
}

@media only screen and (max-width: 400px) {
  .headerRight {
    padding: 5px 5px;
  }
  .tier {
    padding: 3px 5px;
    margin: 0 3px 0 5px !important;
  }
}

@media only screen and (min-width: 400px) {
  .headerRight {
    padding: 5px 10px;
  }
  .tier {
    padding: 3px 10px;
    margin: 0 5px 0 10px !important;
  }
}
